app-login {
  .right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-form {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .image-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wallpaper {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
  }

  .submit-button {
    display: flex;
    justify-content: center;

    button {
      width: 100%;
    }
  }

  .form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message {
    padding: 12px 12px 24px 12px;
    text-align: center;

    .title {
      font-size: 26px;
      padding: 16px 12px;
      font-weight: 600;
      line-height: 0;
    }
    .sub-title {
      font-weight: 100;
      font-size: 15px;

      strong {
        color: blue;
      }
    }
  }
}
